<form>
    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" [(ngModel)]="title" name="title" [disabled]="isDisable">
    </div>
    <div class="mb-3">
        <label for="postTitle" class="form-label">Body</label>
        <input type="text" class="form-control" [(ngModel)]="body" name="body" [disabled]="isDisable">
    </div>
    <button (click)="addPost()" *ngIf="post.id == 0 && !isDisable" class="btn btn-primary">Add</button>
    <button (click)="updatePost()" *ngIf="post.id != 0 && !isDisable" class="btn btn-primary">Update</button>
</form>
