 
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="addModal()" >
    Create New Post
</button>


 <table class="table table-striped">    
    <thead> 
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of postList$|async">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
            <td>
                <button class="btn btn-info m-1" (click)="viewModel(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">View</button>  
                <button class="btn btn-primary m-1" (click)="editModel(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button>  
                <button class="btn btn-danger m-1" (click)="deletePost(item)">Delete</button>  
            </td>
        </tr>
    </tbody>
 </table>

 <div class="alert alert-success" role="alert" id="add-success-alert">
    Post successfully added!
 </div>

 <div class="alert alert-warning" role="alert" id="update-success-alert">
    Post successfully updated!
 </div>

 <div class="alert alert-danger" role="alert" id="delete-success-alert">
    Post successfully deleted!
 </div>


  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()" id="add-edit-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-post [post]="post" [disableControls]="disableControls" *ngIf="activateAddEditPost"></app-add-edit-post>
        </div>
      </div>
    </div>
  </div>